.main-not-logged-in {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.main-not-logged-in .div {
    background-color: #ffffff;
    border: 1px none;
    height: 1280px;
    overflow: hidden;
    position: relative;
    width: 1440px;
}

.main-not-logged-in .footer {
    background-color: #ffffff;
    height: 80px;
    left: 0;
    position: absolute;
    top: 1200px;
    width: 1440px;
}

.main-not-logged-in .element-supersite {
    color: var(--simulatorgraytext);
    font-family: "Roboto-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 104px;
    letter-spacing: 0;
    line-height: 22px;
    position: absolute;
    top: 31px;
    white-space: nowrap;
    width: 433px;
}

.main-not-logged-in .group {
    height: 24px;
    left: 1053px;
    position: absolute;
    top: 30px;
    width: 171px;
}

.main-not-logged-in .group-2 {
    height: 24px;
    position: relative;
    width: 175px;
}

.main-not-logged-in .text-wrapper {
    color: var(--mainprimary);
    font-family: "Roboto-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
}

.main-not-logged-in .text-wrapper-2 {
    color: var(--mainprimary);
    font-family: "Roboto-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 89px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
}

.main-not-logged-in .icon-github {
    height: 24px;
    left: 1264px;
    position: absolute;
    top: 28px;
    width: 24px;
}

.main-not-logged-in .img {
    height: 20px;
    left: 2px;
    position: absolute;
    top: 2px;
    width: 20px;
}

.main-not-logged-in .social-fb {
    height: 24px;
    left: 1312px;
    position: absolute;
    top: 28px;
    width: 24px;
}

.main-not-logged-in .about-author {
    background-color: #ffffff;
    height: 624px;
    left: 0;
    position: absolute;
    top: 576px;
    width: 1440px;
}

.main-not-logged-in .comment-avatar-image {
    background-image: url(./image-03.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 464px;
    left: 104px;
    position: absolute;
    top: 80px;
    width: 464px;
}

.main-not-logged-in .this-block-describes {
    color: #1a1b22;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 624px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 200px;
    width: 600px;
}

.main-not-logged-in .text-wrapper-3 {
    color: var(--mainprimary);
    font-family: "Roboto Slab-Regular", Helvetica;
    font-size: 40px;
    font-weight: 400;
    left: 624px;
    letter-spacing: 0;
    line-height: 46px;
    position: absolute;
    top: 130px;
    width: 600px;
}

.main-not-logged-in .div-2 {
    height: 576px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1444px;
}

.main-not-logged-in .overlap {
    background-image: url(./georgia-de-lotz-usjonxlano-unsplash.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 576px;
    position: relative;
    width: 1440px;
}

.main-not-logged-in .what-s-going-on-in {
    color: var(--mainwhite);
    font-family: "Roboto Slab-Regular", Helvetica;
    font-size: 60px;
    font-weight: 400;
    left: 416px;
    letter-spacing: 0;
    line-height: 64px;
    position: absolute;
    top: 160px;
    width: 608px;
}

.main-not-logged-in .p {
    color: var(--mainwhite);
    font-family: "Roboto-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 416px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 320px;
    width: 608px;
}

.main-not-logged-in .search-field {
    height: 64px;
    left: 416px;
    position: absolute;
    top: 432px;
    width: 610px;
}

.main-not-logged-in .overlap-group {
    background-image: url(./rectangle-2.svg);
    background-size: 100% 100%;
    height: 64px;
    position: relative;
    width: 608px;
}

.main-not-logged-in .button {
    background-color: #2f71e5;
    border-radius: 100px;
    box-shadow: 0px 5px 15px #0d193933;
    height: 64px;
    left: 440px;
    position: absolute;
    top: 0;
    width: 168px;
}

.main-not-logged-in .text-wrapper-4 {
    color: var(--mainwhite);
    font-family: var(--button-font-family);
    font-size: var(--button-font-size);
    font-style: var(--button-font-style);
    font-weight: var(--button-font-weight);
    height: 24px;
    left: 56px;
    letter-spacing: var(--button-letter-spacing);
    line-height: var(--button-line-height);
    position: absolute;
    text-align: center;
    top: 19px;
    white-space: nowrap;
}

.main-not-logged-in .text-wrapper-5 {
    color: var(--simulatorgraytext);
    font-family: "Roboto-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 24px;
    letter-spacing: 0;
    line-height: 22px;
    position: absolute;
    top: 21px;
    width: 376px;
}

.main-not-logged-in .header-logout {
    background-color: #c4c4c403;
    box-shadow: inset 0px -1px 0px #ffffff33;
    height: 80px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
}

.main-not-logged-in .div-wrapper {
    border: 1px solid;
    border-color: #ffffff;
    border-radius: 100px;
    height: 48px;
    left: 1160px;
    position: absolute;
    top: 19px;
    width: 176px;
}

.main-not-logged-in .text-wrapper-6 {
    color: var(--mainwhite);
    font-family: var(--button-font-family);
    font-size: var(--button-font-size);
    font-style: var(--button-font-style);
    font-weight: var(--button-font-weight);
    height: 24px;
    left: 11px;
    letter-spacing: var(--button-letter-spacing);
    line-height: var(--button-line-height);
    position: absolute;
    text-align: center;
    top: 10px;
    white-space: nowrap;
    width: 152px;
}

.main-not-logged-in .text-wrapper-7 {
    color: var(--mainwhite);
    font-family: "Roboto-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    height: 24px;
    left: 1069px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 29px;
    white-space: nowrap;
}

.main-not-logged-in .vector-stroke {
    height: 3px;
    left: 1058px;
    position: absolute;
    top: 77px;
    width: 68px;
}

.main-not-logged-in .text-wrapper-8 {
    color: var(--mainwhite);
    font-family: "Roboto Slab-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    height: 24px;
    left: 104px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 29px;
    width: 200px;
}
