.navigation {
  font-family: "Roboto", sans-serif;
  height: 48px;
  max-width: fit-content;
  width: 100%;
}

.navigation__overlay {
  display: grid;
  gap: 42px;
  justify-items: center;
  grid-template-columns: 70px 1fr;
  list-style: none;
  width: fit-content;
  margin: 0;
  padding: 0;
}

.navigation__overlay_type_signedin {
  grid-template-columns: 70px 178px 1fr;
}

.navigation__link {
  margin: 12px 0;
  width: fit-content;
}

/* When the background is in black */
.navigation__homepage {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  width: 49px;
  /* width: 63px; */
  margin: 0 0 0 9px;
  text-decoration: none;
}

/* This is the underline under the button Home */
.navigation__homepage_type_selected {
  border-bottom: 3px solid #ffffff;
  color: #ffffff;
  margin: 0 42px 0 0;
  padding: 0 9px 23px;
}

/* This is the underline under the button Home when the page is white */
.navigation__homepage_type_selected-page {
  border-color: #1a1b22;
}

/* When the background is black */
.navigation__saved-articles {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  width: 114px;
}

/* This is the underline under the button Saved articles */
.navigation__saved-articles_type_selected {
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
  padding: 0 32px 23px;
}

/* This is the underline under the button Saved articles when the page is white */
.navigation__saved-articles_type_selected-page {
  border-color: #1a1b22;
}

/* When the background is in black */
.navigation__button {
  width: 176px;
  padding: 12px;
  margin: 0;
  background-color: transparent;
  border: 1px solid #ffffff;
  font-weight: 500;
  color: #ffffff;
  border-radius: 100px;
  font-size: 18px;
  line-height: 24px;
  display: grid;
  grid-column: 1;
  grid-template-columns: fit-content 1fr;
}

/* When the background is in white */
.navigation__button_type_page {
  color: #1a1b22;
  border-color: #1a1b22;
}

.navigation__button-img {
  grid-column: 2;
  padding-top: 4px;
  justify-self: center;
  width: 18px;
  height: 16px;
}

.navigation__button-img:hover {
  cursor: pointer;
}

.navigation__homepage:hover,
.navigation__homepage_type_selected:hover,
.navigation__homepage_type_selected-page:hover,
.navigation__saved-articles:hover,
.navigation__saved-articles_type_selected:hover,
.navigation__saved-articles_type_selected-page:hover,
.navigation__button:hover,
.navigation__button_type_page:hover {
  opacity: 0.6;
  cursor: url("../../images/pointer_icon.svg"), pointer;
}
