.navigation {
    background-image: url('../../images/georgia-de-lotz-usjonxlano-unsplash.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #c4c4c403;
    border: 1px none;
    box-shadow: inset 0px -1px 0px #ffffff33;
    height: 80px;
    position: relative;
    width: 1440px;
}

.navigation .overlap-group {
    border: 1px solid;
    border-color: #ffffff;
    border-radius: 100px;
    height: 48px;
    left: 1160px;
    position: absolute;
    top: 19px;
    width: 176px;
}

.navigation .text-wrapper {
    color: var(--mainwhite);
    font-family: var(--button-font-family);
    font-size: var(--button-font-size);
    font-style: var(--button-font-style);
    font-weight: var(--button-font-weight);
    height: 24px;
    left: 11px;
    letter-spacing: var(--button-letter-spacing);
    line-height: var(--button-line-height);
    position: absolute;
    text-align: center;
    top: 10px;
    white-space: nowrap;
    width: 152px;
}

.navigation .div {
    color: var(--mainwhite);
    font-family: "Roboto-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    height: 24px;
    left: 1069px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 29px;
    white-space: nowrap;
}

.navigation .vector-stroke {
    height: 3px;
    left: 1058px;
    position: absolute;
    top: 77px;
    width: 68px;
}

.navigation .text-wrapper-2 {
    color: #ffffff;
    font-family: "Roboto Slab-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    height: 24px;
    left: 104px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 29px;
    width: 200px;
}

.label {
    border: 0px none;
    height: 24px;
    width: 200px;
}

.label .text-wrapper-2 {
    color: #ffffff;
    font-family: "Roboto Slab-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    height: 24px;
    left: 0;
    letter-spacing: 0;
    line-height: 24px;
    position: fixed;
    top: 0;
    width: 200px;
}
