.navigation {
    background-image: url('../../images/georgia-de-lotz-usjonxlano-unsplash.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #c4c4c403;
    border: 1px none;
    box-shadow: inset 0px -1px 0px #ffffff33;
    height: 80px;
    position: relative;
    width: 1440px;
}

.navigation .overlap-group {
    height: 48px;
    width: 176px;
    border: 1px solid #ffffff;
    border-radius: 100px;
    left: 1160px;
    position: absolute;
    top: 19px;
}

.navigation .text-signin {
    color: #ffffff;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    height: 24px;
    left: 11px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 10px;
    white-space: nowrap;
    width: 152px;
}

.navigation .text-home {
    color: #ffffff;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    height: 24px;
    left: 1069px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 29px;
    white-space: nowrap;
}

.navigation .vector-stroke {
    height: 3px;
    left: 1058px;
    position: absolute;
    top: 77px;
    width: 68px;
}

.navigation .text-wrapper-2 {
    color: #ffffff;
    font-family: "Roboto Slab-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    height: 24px;
    left: 104px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 29px;
    width: 200px;
}
